body {
    background-color: #fffdee;
    margin: 0;
    padding: 70px 150px;
    box-sizing: border-box;
    width: 100vw;
    overflow-x: hidden;
}


#title{
   color: #403931;
    font-size: 70px;
    font-family: 'Playfair Display', Georgia, serif;
    text-align: left;
    margin: 20px auto;
    margin-bottom: 100px;
    width: 100%;
    border-bottom: 2px solid #403931;
    padding-bottom: 20px;
    border-top: 2px solid #403931;
    padding-top: 20px;
}

.intro_row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
    margin-bottom: 50px;
}

#wombat_image {
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: center;
    display: block;
}

#intro_text {
    font-size: 18px;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 50px;
    align-self: center;
}

#subheadingOne {
    font-family: 'Playfair Display', Georgia, serif;
    font-size: 30px;
    text-align: center;
    color: #403931;
    padding: 10px;
    border-bottom: 1px solid #403931;
    padding-bottom: 10px;
    border-top: 1px solid #403931;
    padding-top: 10px;
}

#subheadingTwo {
    font-family: 'Playfair Display', Georgia, serif;
    font-size: 30px;
    text-align: center;
    color: #403931;
    padding: 10px;
    border-bottom: 1px solid #403931;
    padding-bottom: 10px;
    border-top: 1px solid #403931;
    padding-top: 10px;
}

#subheadingThree {
    font-family: 'Playfair Display', Georgia, serif;
    font-size: 30px;
    text-align: center;
    color: #403931;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid #403931;
    padding-bottom: 10px;
    border-top: 1px solid #403931;
    padding-top: 10px;
}

#subheadingFour {
    font-family: 'Playfair Display', Georgia, serif;
    font-size: 30px;
    text-align: center;
    color: #403931;
    padding: 10px;
    border-bottom: 1px solid #403931;
    padding-bottom: 10px;
    border-top: 1px solid #403931;
    padding-top: 10px;
}

h3{
    font-family: 'Playfair Display', Georgia, serif;
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #403031;
}

#callouts {
    display: flex;
    justify-content: center;
    gap: 90px;
    margin: 40px 0;
    width: 100%;
    box-sizing: border-box;
}

.callout {
    text-align: center;
    padding: 30px 40px;  
    border-radius: 10px;
}

.callout h2 {
    font-size: 70px;
    margin: 0;
    color: #8c0902;
}

.callout p {
    font-size: 20px;
    margin: 5px 0 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#area_legend p {
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 30px;
}

.legend_item {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
}

.legend_box {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    margin-left: 30px;
}

#vulnerable_box { background-color: #fece79; }
#endangered_box { background-color: #b14a36; }
#critical_box { background-color: #590202; }


.waffle_chart_desc {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: justify;
    
}

.map_container {
    position: relative;
    display: block;
    width: 100%
}

#choropleth_chartOne {
    width: 100%;
    display: flex;
    justify-content: center;
}

.map_annotation {
    position: absolute;
    background-color: white;
    border-left: 3px solid #c1121f;
    padding: 8px 12px;
    font-size: 12px;
    font-family: Georgia, serif;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
    max-width: 200px;
}

#nsw_annotation {
    top: 60%;
    left: 72%;
    font-size: 14px;
}

#qld_annotation {
    top: 25%;
    left: 74%;
    font-size: 14px;
}

#nt_annotation {
    top:5%;
    left: 15%;
    font-size: 14px;
}

#wa_annotation {
    top: 60%;
    left: 5%;
    font-size: 14px;
}

.chart_text_row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 40px;
}

.bar_summary {
    min-width: 200px;
    padding: 20px;
    border-left: 1.5px solid #403931;
}

.bar_summary h4 {
    font-family: 'Playfair Display', Georgia, serif;
    font-size: 18px;
    color: #403931;
    margin-bottom: 15px;
    margin-left: 50px;
}

.summary_list {
    list-style: decimal;
    padding-left: 20px;
    margin-left: 50px;
}

.summary_list li {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
    font-family: Georgia, serif;
    font-size: 13px;

}

.summary_group {
    color: #403931;
    font-weight: bold;
}

.summary_count {
    color: #c1121f;
    font-weight: bold;
}

.bar_chart_desc {
    margin-left: 50px;
}

#waffle_chart_row {
    justify-content: flex-start;
    align-items: flex-start;
}

.chart_description {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: justify;
}


#filter_buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.filter_btn {
    padding: 8px 20px;
    border: 1px solid #403931;
    background-color: transparent;
    font-family: Georgia, serif;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    color: #403931;
}

.filter_btn.active {
    background-color: #403931;
    color: #fffdee;
}


